---
const links = [
  {
    ref: '01',
    name: 'Home',
    href: '',
  },
  {
    ref: '02',
    name: 'About',
    href: 'about',
  },
  {
    ref: '03',
    name: 'Contact',
    href: 'contact',
  },
];
---

<header
  x-data="{ open: false }"
  class="transition"
  :class="{ 'bg-header': !(open) }"
>
  <div
    class="mx-auto flex max-w-2xl items-center justify-between px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8"
  >
    <!-- Brand logo -->
    <div class="flex">
      <a
        href={import.meta.env.BASE_URL}
        class="focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 rounded-md focus-visible:outline focus-visible:outline-2"
      >
        <span class="sr-only">Integrating Grief</span>
        <img
          class="h-9 w-auto"
          width="140"
          height="100"
          src={import.meta.env.BASE_URL + "assets/icon.svg"}
          alt="Integrating Grief"
        />
      </a>
    </div>

    <!-- Actions -->
    <div class="-mr-2 flex items-center space-x-2 sm:space-x-3">
      <!-- Navigation -->
      <nav class="divide-lg flex gap-7">
        {
          links.map((link) => (
            <a
              href={import.meta.env.BASE_URL + link.href}
              class="text-primary-950 dark:text-primary-200 group inline-flex py-6 text-sm font-sm tracking-tight transition focus-visible:outline-none sm:py-8 sm:text-1xl"
            >
              <div class="group-focus-visible:outline-primary-950 dark:group-focus-visible:outline-primary-200 flex flex-1 items-center justify-between rounded-3xl group-focus-visible:outline group-focus-visible:outline-2 group-focus-visible:outline-offset-2">
                <div class="flex items-center gap-6">
                  <span class="group-hover:underline">{link.name}</span>
                </div>
              </div>
            </a>
          ))
        }
      </nav>
      </button>
    </div>
  </div>
</header>
