---
const services = [
  {
    step: '01',
    name: 'Education',
    description:
      'I offer classes and workshops for a range of settings, including community organizations, schools and universities, and healthcare and social service organizations. Through engaging, accessible, and evidence-informed programming, I help participants develop a deeper understanding of grief and the contexts that shape it, cultivate compassion, and build practical skills for offering grief support in both personal and professional settings.',
  },
  {
    step: '02',
    name: 'Speaking',
    description:
      'I provide guest talks and keynote presentations for community organizations, schools and universities, and healthcare and social service settings. These talks are engaging, accessible, and evidence-informed, and focus on increasing understanding of grief and loss, the social and cultural contexts that shape these experiences, and practical ways to foster compassion and supportive responses in both personal and professional settings.',
  },
  {
    step: '03',
    name: 'Research',
    description:
      'I conduct academic and community-engaged research focused on grief, loss, and the social and cultural contexts that shape these experiences. My work integrates rigorous scholarly methods with collaborative partnerships, and includes research design and implementation, program evaluation, and knowledge translation. Through this research, I support communities, organizations, and practitioners in developing evidence-informed practices, programs, and policies that are responsive to lived experiences of grief.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                  {service.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
