<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-2 lg:gap-8">
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Let's work together</h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 max-w-lg text-lg sm:text-xl">
          Please reach out to me if you're interested in learning more or working together.
        </p>
        <p class="text-primary-950/70 dark:text-primary-200/70 max-w-lg text-lg sm:text-xl">
          <a
            class="hover:underline text-primary-950 dark:text-primary-200 group inline-flex text-sm font-sm tracking-tight transition focus-visible:outline-none sm:text-1xl"
            href="mailto:integratinggrief@gmail.com"
          >
            Email me
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
